Flask==0.12
flask-heroku==0.1.9
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
gunicorn==19.7.1
html5lib==0.999
httplib2==0.9.1
numpy==1.11.1
psycopg2==2.6.1
python-dateutil==2.5.3
scikit-image==0.12.3
scipy==0.17.0
SQLAlchemy==1.1.6
sqlparse==0.1.18
urllib3==1.13.1
